---
import '../styles/global.css';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Roman Golev</title>
    <meta name="description" content="Roman Golev's Portfolio Website" />
    <script is:inline>
      const theme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
      document.documentElement.classList.toggle('dark', theme === 'dark');
    </script>
  </head>
  <body>
    <div class="page-container">
      <slot name="header" />
      <main class="content">
        <slot />
      </main>
      <footer class="footer">
        <slot name="footer" />
      </footer>
    </div>
  </body>
</html>

<style>
  body, html {
    height: 100%;
    margin: 0;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content {
    flex: 1;
  }

  .footer {
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 1rem;
    text-align: center;
  }
</style>